*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  display: none;
}

#turn {
  font-weight: bold;
  color: darkorange;
}


/* Botón del juego */
.btn-exit {
  display: none;
}

.hidden {
  display: none;
}